.bp3-dark .Navbar {
  background: #293742;
}

.Navbar {
  background: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 16rem;
}

.Navbar-algorithms {
  margin-top: .5rem;
}

.Navbar-algorithms .bp3-tab {
  width: 100%;
  margin-top: .5rem;
  text-align: center;
}

.Navbar-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

.Wrapper {
  background: #EBF1F5;
  height: 100vh;
  width: 100vw;
}

.Wrapper.bp3-dark {
  background: #5C7080;
}
